:root{
    --sans: 'Open Sans', helvetica, sans-serif;
    --serif: 'Playfair Display', Times, serif;

    
    --color-100: RGBA(28, 86, 50, 1.00);
    --color-200: RGBA(234, 234, 234, 1.00);
    --color-300: RGBA(58, 58, 58, 1.00);

    --white: white;
    --white-trans: RGBA(255,255,255, 0.9);
    --dark-trans: RGBA(33, 33, 33, 0.7);
    
    --highlight: var(--color-100);
    --link-color: var(--highlight);
    --link-color-hover: var(--highlight);

    --lh-100: 1.1;
    --lh-200: 1.4;
    --lh-300: 1.6;

    --font-size-500: 1.125em;


    --space-50: 0.2em;
    --space-75: 0.4em;
    --space-100: 1em;
    --space-200: 2em;
    --space-300: 4em;
    --space-400: 16em;
}

html, body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
main {
    margin: 0 5em;
}
body {
    font-family: var(--sans);
    font-weight: 300;
    line-height: var(--lh-100);
    font-size: var(--font-size-500);
}

main-block {
    margin-left: -5em;
    width: calc(100% + 10em);
}
button {
    display: inline-block;
    border: none;
    background: var(--highlight);
    color: white;
    padding: 0.6em 1.6em;
    outline: none;
    font-size: 0.8em;
    font-weight: 300;
    font-family: var(--sans);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
}

h2 {
    margin-bottom: 0;
}
h2 + p {
    margin-top: 0;
}
